.search-input{
  border: none;
  background-color: #d6d3d394;
  
}
a{
  text-decoration: none;
}
.form-buttons{
  border: .3rem black solid;
  font-size: 1rem;
  

}

.text-greenlight{
  color: #33cb6f;
}
.icon-size{
  font-size: 4rem;
  font-weight: 100;
}
.box2-bg{
  background-color: #eee;
}
.round-s{
  border-radius: 10px;
}
.background-img{
  background-image: url(../img/bgimg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10rem 0;
}
.ms-big{
  margin-right: 5rem;
}
.form-box-posotion{
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
}
.fs-costum-headign{
  font-size: 6rem;
}
.header-btn{
  color: #eee;
  transition: all .3s;
}
.header-btn:hover{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  
}
.ch{
  height: 20rem;
  margin-top: -4%;
  
}
.padding-big{
  padding:0 4rem 4rem 4rem;
}

.mt-big{
  margin-top: 4rem;
}
.mb-big{
  margin-bottom: 2rem;
}
.line{
  border-bottom: 3px solid rgb(70, 69, 69) ;
  width: 30%;
  
}
.text-shadow{
  color: rgb(70, 69, 69);
  text-shadow: rgb(70, 69, 69) 0px 0 1px;
}

.p-costum{
  padding-left: 25%;
  padding-right: 3rem;
}
.p-costum-2{

  padding-right: 25%;
 
  padding-left: 3rem;
}
.px-big{
  padding: 0 8rem;
}