.search-input{
  border: none;
  background-color: #d6d3d394;
  
}
a{
  text-decoration: none;
}
.form-buttons{
  border: .3rem black solid;
  font-size: 1rem;
  

}

.text-greenlight{
  color: #33cb6f;
}
.icon-size{
  font-size: 4rem;
  font-weight: 100;
}
.box2-bg{
  background-color: #eee;
}
.round-s{
  border-radius: 10px;
}
.background-img{
  background-image: url(../img/Pasted\ Graphic.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.form-box-posotion{
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
}
.fs-costum-headign{
  font-size: 6rem;
}
.header-btn{
  color: #eee;
  transition: all .3s;
}
.header-btn:hover{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  
}
.ch{
  height: 20rem;
  margin-top: -3.5rem;
  
}
